py~=1.11.0
beautifulsoup4~=4.10.0
soupsieve~=2.3.1
defusedxml~=0.7.1
cffi~=1.15.0
Pillow~=9.0.1
ipython~=8.1.1
pip~=21.3.1
tornado~=6.1
pyzmq~=22.3.0
pexpect~=4.8.0
pytest~=7.1.0
parso~=0.8.3
jedi~=0.18.1
QtPy~=2.0.1
packaging~=21.3
torch~=1.11.0
gpytorch~=1.6.0
scipy~=1.8.0
numpy~=1.22.3
gptorch~=0.3.2
attrs~=21.4.0
setuptools~=60.5.0
matplotlib~=3.5.1
graphviz~=0.19.1
multipledispatch~=0.6.0
six~=1.16.0
psutil~=5.9.0
webencodings~=0.5.1
bleach~=4.1.0
MarkupSafe~=2.1.1
joblib~=1.1.0
wcwidth~=0.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
botorch~=0.6.2
debugpy~=1.5.1
traitlets~=5.1.1
decorator~=5.1.1
scikit-learn~=1.0.2
Pygments~=2.11.2
testpath~=0.6.0
backcall~=0.2.0
pickleshare~=0.7.5
ptyprocess~=0.7.0
threadpoolctl~=3.1.0
python-dateutil~=2.8.2
nbformat~=5.2.0
nbclient~=0.5.13
nbconvert~=6.4.4
jsonschema~=4.4.0
notebook~=6.4.10
Jinja2~=3.0.3
Send2Trash~=1.8.0
terminado~=0.13.3
asttokens~=2.0.5
executing~=0.8.3
fonttools~=4.30.0
ipykernel~=6.9.2
pandocfilters~=1.5.0
mistune~=0.8.4
entrypoints~=0.4
pyparsing~=3.0.7
pycparser~=2.21
qtconsole~=5.2.2
ipywidgets~=7.7.0
pyrsistent~=0.18.1
cycler~=0.11.0
kiwisolver~=1.4.0